.auth-container {
    min-height: calc(100vh - 120px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card {
    width: 450px;

    background: white;

    padding: 40px;

    border-radius: 24px;

    box-shadow:
        0 10px 30px rgba(0,0,0,.08);

    border: 1px solid #E2E8F0;
}

.auth-card h1 {
    text-align: center;

    margin-bottom: 30px;

    color: #1E293B;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;

    margin-bottom: 8px;

    color: #475569;

    font-weight: 500;
}

.input-group input {
    width: 100%;

    box-sizing: border-box;

    padding: 14px;

    border-radius: 14px;

    border: 1px solid #CBD5E1;

    outline: none;

    transition: .2s;
}

.input-group input:focus {
    border-color: #60A5FA;

    box-shadow: 0 0 0 4px rgba(96,165,250,.15);
}

button {
    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 14px;

    background: #60A5FA;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: .2s;
}

button:hover {
    transform: translateY(-2px);

    background: #3B82F6;
}

.error {
    color: #EF4444;

    font-size: 13px;
}

.auth-link {
    margin-top: 20px;

    text-align: center;
}